<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{site.title}}
    </title>
    <meta name="description" content="{{site.description}}">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/fluent.css">
    <link rel="stylesheet" href="../assets/css/micon.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body dir="ltr">

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark navbar-main">
        <a class="navbar-brand flex-center" href="/">
            <img src="/assets/img/MultiQuine-240.png" width="48" height="48" class="d-inline-block align-top" alt=""
                 loading="lazy">
            MultiQuine
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Products
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://insighter.live">Insighter</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{ content }}
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
</body>
</html>
